{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Pokémon Universe - Wiki</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/blog.css">
    <style>
    </style>
</head>
<body>

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand">Pokémon Universe</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'accueil' %}">Accueil</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'wiki' %}">Wiki</a>
            </li>
        </ul>
    </div>
</nav>
<!-- Wiki Section -->
<section id="wiki" class="container mt-5">
    <h2 class="text-center mb-4">Wiki Pokémons</h2>
    <div class="row">
        {% for type, pokemons in pokemon_by_type.items %}
            <div class="col-md-3">
                <div class="pokemon-type">
                    <h3 class="text-center mb-4">{{ type }}</h3>
                    {% for pokemon in pokemons %}
                        <div class="card">
                            <img id="{{ pokemon.nom }}Image" class="card-img-top" src="{{ pokemon.photo.url }}" alt="{{ pokemon.nom }}" onclick="pokemonGo(this)">
                            <div class="card-body">
                                <h5 class="card-title">{{ pokemon.nom }}</h5>
                                <p class="card-text">Niveau: {{ pokemon.niveau }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
    <div id="message-container"></div>
</section>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    function pokemonGo(element){
        // Désélectionne toutes les cartes
    var carte = document.querySelectorAll('.card');
    carte.forEach(function(carte) {
        carte.classList.remove('selected');
    });
    // Sélectionne la carte cliquée
    var selectedCard = element.closest('.card');
    if (selectedCard) {
    selectedCard.classList.add('selected');
    // Récupère le nom du Pokémon
    var nomPokemon = selectedCard.querySelector('.card-title').textContent;
    // Redirige vers la page spécifique du Pokémon
    window.location.href ='/pokemon/' + nomPokemon+ '/';
    } 
    else {
    console.error("Aucun élément avec la classe 'card' trouvé.");
    }
}
</script>
<!-- Bootstrap Scripts -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
